body{
    margin: 0; padding: 0;
}

.nav {
    height: 50px;
    background-color: #211D1E;
    padding: 5px;
    /* margin: 0 auto; */
}


.logo {
    height: 50px;
    width: auto;
    float: left;
}

.wrapper {
    background-color: black;
    height: 1000px;
  /* background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 20px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 15px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 20px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 15px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    position: fixed;
    /*overflow:scroll;*/
    padding: 3%;
    /*padding-left: 10%;*/
    margin:0;
}

.text {
    color: #ff0;
    font-size: 10em;
    font-variant: small-caps;
    width: 90%;
    max-height: 98%;
    text-align: justify;
   
    -webkit-animation-name: scrolling;
    -webkit-animation-duration: 60s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: scrolling;
    -moz-animation-duration: 60s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    -o-animation-name: scrolling;
    -o-animation-duration: 60s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;

    -ms-animation-name: scrolling;
    -ms-animation-duration: 60s;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;

    
}

/*меняем translateY для плавной прокрутки текста*/
@-webkit-keyframes scrolling {
    from {
        -webkit-transform: rotateX(65deg) translateY(1000px);
    }
    to {
        -webkit-transform: rotateX(65deg) translateY(-14900px);
    }
}

/*меняем translateY для плавной прокрутки текста*/
@-moz-keyframes scrolling {
    from {
        -moz-transform: rotateX(65deg) translateY(1000px);
    }
    to {
        -moz-transform: rotateX(65deg) translateY(-14900px);
    }
}

/*меняем translateY для плавной прокрутки текста*/
@-o-keyframes scrolling {
    from {
        -o-transform: rotateX(65deg) translateY(1000px);
    }
    to {
        -o-transform: rotateX(65deg) translateY(-14900px);
    }
}

/*меняем translateY для плавной прокрутки текста*/
@-ms-keyframes scrolling {
    from {
        -ms-transform: rotateX(65deg) translateY(1000px);
    }
    to {
        -ms-transform: rotateX(65deg) translateY(-14900px);
    }
}